<div class="features">
    <button mat-button>
    <div class="feature">
      <mat-icon>home</mat-icon>
      <div>Home</div>
      <button mat-icon-button>
        <mat-icon matBadge="3">notifications</mat-icon>
      </button>
</div>
</button>
<button mat-button>
    <div class="feature">
      <mat-icon>settings</mat-icon>
      <div>Settings</div>
      <button mat-icon-button>
        <mat-icon matBadge="3">notifications</mat-icon>
      </button>
</div>
</button>
<button mat-button>
    <div class="feature">
      <mat-icon>contact_support</mat-icon>
      <div>Support</div>
      <button mat-icon-button>
        <mat-icon matBadge="1">notifications</mat-icon>
      </button>
</div>
</button>
<button mat-button>
    <div class="feature">
      <mat-icon>dashboard</mat-icon>
      <div>Dashboard</div>
      <button mat-icon-button>
        <mat-icon matBadge="3">notifications</mat-icon>
      </button>
</div>
</button>
<button mat-button>
    <div class="feature">
      <mat-icon>message</mat-icon>
      <div>Message</div>
      <button mat-icon-button>
        <mat-icon></mat-icon>
      </button>
</div>
</button>
<button mat-button>
    <div class="feature">
      <mat-icon>contact_support</mat-icon>
      <div>Support</div>
      <button mat-icon-button>
        <mat-icon></mat-icon>
      </button>
</div>
</button>
<button mat-button>
    <div class="feature">
      <mat-icon>dashboard</mat-icon>
      <div>Dashboard</div>
      <button mat-icon-button>
        <mat-icon></mat-icon>
      </button>
</div>
</button>
<button mat-button>
    <div class="feature">
      <mat-icon>message</mat-icon>
      <div>Message</div>
      <button mat-icon-button>
        <mat-icon></mat-icon>
      </button>
</div>
</button>
</div>