<div class="prof">
    <img class="avatar mat-elevation-z8" src="https://images.pexels.com/photos/4069292/pexels-photo-4069292.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
    <h4 class="name">John Smith</h4>
    <p class="action">
        <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
    </button>
        <button mat-button class="menu-button">
      <mat-icon>account_circle</mat-icon>
    </button>
        <button mat-button class="menu-button">
      <mat-icon>settings</mat-icon>
    </button>
    </p>
</div>