<body>
    <h1>Daily tasks</h1>
    <div class="container">
        <form #task="ngForm" (ngSubmit)="onTaskSubmit(task)">
            <label class="customInput">
        <input
          type="text"
          placeholder="✍ Enter your task"
          name="task"
          ngModel
          required
        />
      </label>
            <button type="submit">Submit</button>
        </form>

        <hr />
        <h1>Todo List of Omkar</h1>
        <div *ngFor="let item of tasks" class="todo-list">
            <app-todo-card [todo-item]="item"></app-todo-card>
        </div>
    </div>
</body>