<app-header></app-header>

<div *ngIf="userData">
    <div class="cart-card" *ngFor="let orderItem of userOrd">
        <span style="word-break: break-all">{{ orderItem.date }}</span>
        <div class="inner-card" *ngFor="let item of orderItem.order">
            <div class="row-order" *ngFor="let item2 of item | keyvalue; let ind = index">
                <div>
                    <p *ngIf="ind == 1">
                        <img src="{{ item2.value }}" style="height: 80px; width: 80px" />
                    </p>
                    <p class="title" *ngIf="ind == 4">{{ item2.value }}</p>
                    <p class="price" *ngIf="ind == 2">{{ item2.value }}</p>
                    <p class="qty" *ngIf="ind == 3">{{ item2.value }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- </div> -->