<div class="c-container">
    <mat-card class="card">
        <mat-card-title>New Orders</mat-card-title>
        <mat-card-subtitle>This week</mat-card-subtitle>
        <div class="card-container">
            <mat-icon>shop</mat-icon>
            <h3>190</h3>
        </div>
    </mat-card>
    <mat-card class="card">
        <mat-card-title>Total profit</mat-card-title>
        <mat-card-subtitle>This week</mat-card-subtitle>
        <div class="card-container">
            <mat-icon>people</mat-icon>
            <h3>865</h3>
        </div>
    </mat-card>
    <mat-card class="card">
        <mat-card-title>New Mails</mat-card-title>
        <mat-card-subtitle>This week</mat-card-subtitle>
        <div class="card-container">
            <mat-icon>mail</mat-icon>
            <h3>200</h3>
        </div>
    </mat-card>
</div>