<div>
    <mat-toolbar class="header" color="primary">
        <mat-toolbar-row class="row1">
            <div class="info-icon">
                <span>
          <mat-icon>call</mat-icon>
        </span>
                <p>9828823823</p>
            </div>

            <div class="info-icon">
                <span>
          <mat-icon>place</mat-icon>
        </span>
                <p>71st Street,Pune,India</p>
            </div>

            <div class="info-icon">
                <span>
          <mat-icon>mail</mat-icon>
        </span>
                <p>info@ghardekho.com</p>
            </div>

            <div>
                <mat-icon>facebook</mat-icon>
                <mat-icon>domain</mat-icon>
                <mat-icon>share</mat-icon>
                <mat-icon>public</mat-icon>
            </div>

            <div class="info-icon">
                <span>
          <mat-icon>account_circle</mat-icon>
        </span>
                <p>Account</p>
            </div>
        </mat-toolbar-row>

        <mat-toolbar-row class="nav">
            <div class="">
                <span>GharDekho</span>
            </div>
            <div class="navbar">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Contact</li>
                </ul>
            </div>
            <!-- <span class="example-spacer"></span> -->
            <div class="">
                <button mat-icon-button class="favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
                <button mat-icon-button class="share-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-divider></mat-divider>
</div>