form {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-self: center;
    /* align-content: center; */
}

.uform {
    display: flex;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
}

.ng-touched .ng-invalid {
    border: 2px solid red;
}